.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    padding: 20px;
    position: relative;
    font-family: Arial, sans-serif;
    animation: popupShow 0.3s ease-out;
}

@keyframes popupShow {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.input-field {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #bababa;
    background-color: #dcdcdc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: border-color 0.3s ease;
}


.register-text {
    margin-top: 1rem;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.register-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    font-size: 14px;
    color: #007bff;
    text-align: center;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-link:hover {
    color: #0056b3;
    text-decoration: underline; /
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

.submit-button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    background: #007bff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.submit-button:hover {
    background: #0056b3;
}

.error-message{
    color: red;
}
